Repository EltonChou/TwitterMediaHarvest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn check-changelog, yarn check-locales, yarn check-flags

fix: Convert minimum Chrome version to string in webpack configuration
  webpack.service.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

version: bump version to 4.4.1
  CHANGELOG.md
  package.json
Due: prettier --write, yarn check-changelog

refactor: Enhance tweet parsing and error handling with new types and utility functions
  src/libs/XApi/commands/abstractFetchTweet.ts
  src/libs/XApi/parsers/refinements.ts
  src/libs/XApi/parsers/tweet.ts
  src/libs/XApi/types/tweet.d.ts
  src/utils/result.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

Create CNAME
  CNAME
Due: none

Update CNAME
  CNAME
Due: none

docs: Add License and Privacy Policy sections to README
  README.md
Due: prettier --write

feat: implement capture transaction ID use case and related messaging
  src/applicationUseCases/captureTransactionId.ts
  src/contentScript/main.ts
  src/domain/repositories/xTransactionId.ts
  src/domain/valueObjects/xTransactionId.test.ts
  src/domain/valueObjects/xTransactionId.ts
  src/infra/repositories/xTransactionId.ts
  src/injections/injectFetch.ts
  src/libs/webExtMessage/messages/base.ts
  src/libs/webExtMessage/messages/captureTransactionId.ts
  src/libs/webExtMessage/messages/index.ts
  src/libs/webExtStorage/local/schema.ts
  src/provider/repos.ts
  src/runtime.d.ts
  src/serviceWorker/initMessageRouter.ts
  src/serviceWorker/messageHandlers/captureTransactionId.ts
  src/types/schema.d.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

license: add MPL license header
  src/applicationUseCases/captureTransactionId.ts
  src/domain/repositories/xTransactionId.ts
  src/infra/repositories/xTransactionId.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: add configurable reserved count for transaction IDs in LocalXTransactionIdRepository
  src/infra/repositories/xTransactionId.ts
  src/provider/repos.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: update prepareRequest method to return a Promise and enhance caching logic to prevent error response
  src/libs/XApi/client.ts
  src/libs/XApi/commands/abstractFetchTweet.ts
  src/libs/XApi/commands/graphql.ts
  src/libs/XApi/commands/guestFetchTweet.ts
  src/libs/XApi/commands/latestFetchTweet.test.ts
  src/libs/XApi/commands/restIdFetchTweet.test.ts
  src/libs/XApi/commands/types.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: replace QueryMethod with HttpMethod in FetchTweetCommand implementations and update related imports
  src/libs/XApi/commands/abstractFetchTweet.ts
  src/libs/XApi/commands/fallbackFetchTweet.ts
  src/libs/XApi/commands/graphql.ts
  src/libs/XApi/commands/guestFetchTweet.ts
  src/libs/XApi/commands/latestFetchTweet.ts
  src/libs/XApi/commands/restIdFetchTweet.ts
  src/libs/XApi/commands/types.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: implement transaction ID handling in downloadTweetMedia use case and related messaging
  src/applicationUseCases/downloadTweetMedia.test.ts
  src/applicationUseCases/downloadTweetMedia.ts
  src/domain/useCases/fetchTweetSolution.ts
  src/infra/useCases/nativeFetchTweetSolution.test.ts
  src/infra/useCases/nativeFetchTweetSolution.ts
  src/libs/XApi/commands/abstractFetchTweet.ts
  src/libs/XApi/commands/custom.ts
  src/libs/webExtMessage/messages/base.ts
  src/libs/webExtMessage/messages/requestTransactionId.ts
  src/libs/webExtMessage/sendMessage.ts
  src/mocks/repositories/xTransactionId.ts
  src/mocks/useCases/fetchTweetSolution.ts
  src/runtime.d.ts
  src/serviceWorker/messageHandlers/downloadMediaHandler.ts
  src/types/harvest.d.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: implement transaction ID request handling in content script
  src/contentScript/main.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: Extract transaction id generator
  src/injections/injectFetch.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: enhance query handling in XMLHttpRequest and improve transaction ID capture
  src/injections/injectFetch.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

type: update credentials type in ClientConfiguration to support AsyncProvider
  src/libs/AWSClientApi/client.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: remove CaptureTransactionId handling and related messaging components
  src/applicationUseCases/captureTransactionId.ts
  src/contentScript/main.ts
  src/injections/injectFetch.ts
  src/libs/webExtMessage/messages/base.ts
  src/libs/webExtMessage/messages/captureTransactionId.ts
  src/libs/webExtMessage/messages/index.ts
  src/provider/repos.ts
  src/runtime.d.ts
  src/serviceWorker/initMessageRouter.ts
  src/serviceWorker/messageHandlers/captureTransactionId.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: replace hardcoded tweet URL with makeFakeTweetUrl function
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: improve URL validation and use Proxy to replace xhr.open
  src/injections/injectFetch.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: add HomeLatestTimeline response type and update related processing
  src/applicationUseCases/captureResponseAndCache.ts
  src/contentScript/main.ts
  src/injections/injectFetch.ts
  src/libs/webExtMessage/messages/captureResponse.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: implement factory methods for value objects and update usage in TweetResponseCache
  src/contentScript/core/Harvester.ts
  src/domain/valueObjects/tweet.ts
  src/domain/valueObjects/tweetMedia.ts
  src/domain/valueObjects/tweetMediaFile.ts
  src/domain/valueObjects/tweetUser.ts
  src/domain/valueObjects/tweetWithContent.ts
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

docs: update changelog
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

feat: add cache clearing functionality to NativeFetchTweetSolution and clear cache during updating
  src/infra/useCases/nativeFetchTweetSolution.ts
  src/provider/useCases.ts
  src/serviceWorker/initEventPublisher.ts
  src/serviceWorker/initMessageRouter.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

chore: Update translation version
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
Due: yarn check-locales

version: Bump version 4.4.2
  CHANGELOG.md
  package.json
Due: prettier --write, yarn check-changelog

fix: Prevent event listener to be removed by unrelated event
  src/contentScript/main.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Refactor tweet parser and types t support user data variations
  src/infra/caches/tweetResponseCache.ts
  src/libs/XApi/parsers/refinements.ts
  src/libs/XApi/parsers/test-data/TweetDetail.json
  src/libs/XApi/parsers/tweet.test.ts
  src/libs/XApi/parsers/tweet.ts
  src/libs/XApi/types/tweet.d.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Make transactionIdProvider optional in download and fetch tweet commands
  src/applicationUseCases/downloadTweetMedia.ts
  src/domain/useCases/fetchTweetSolution.ts
  src/serviceWorker/messageHandlers/downloadMediaHandler.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Simplify download process by extracting shared logic
  src/applicationUseCases/downloadTweetMedia.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix: Fix data sharing between content script and page script
  src/contentScript/main.ts
  src/serviceWorker/messageHandlers/downloadMediaHandler.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Extract shared object making logic
  src/contentScript/main.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

docs(changelog): Update changelog
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

version: Bump version to 4.4.3
  CHANGELOG.md
  package.json
Due: prettier --write, yarn check-changelog

docs: Enhance documentation for cloneInto function and shared object creation
  src/contentScript/main.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix: Ensure generateTransactionId is defined before usage in event listener
  src/injections/injectFetch.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

Path conditions:
  prettier --write: (((any of: *.{css,scss,sass}) or (any of: *.{js,cjs,mjs,jsx,ts,tsx})) or (any of: *.md)) or (any of: *.json)
  eslint --fix: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  yarn check-envfile sample.env: (any of: *.{js,cjs,mjs,jsx,ts,tsx}) or (any of: *sample.env)
  yarn ci:all --findRelatedTests --passWithNoTests --bail 5: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  yarn check-changelog: any of: CHANGELOG.md
  yarn check-locales: any of: *.{po,pot}
  yarn check-flags: any of: flag.d.ts
