Repository EltonChou/TwitterMediaHarvest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn check-changelog, yarn check-locales, yarn check-flags

.lintstagedrc.json:

{
  "*.{css,scss,sass}": ["prettier --write"],
  "*.{js,cjs,mjs,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "yarn check-envfile sample.env",
    "yarn ci:all --findRelatedTests --passWithNoTests --bail 5"
  ],
  "*sample.env": ["yarn check-envfile sample.env"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "CHANGELOG.md": ["yarn check-changelog"],
  "*.{po,pot}": ["yarn check-locales"],
  "flag.d.ts": ["yarn check-flags"]
}

ci: update workflow triggers to include main branch for push and pull requests
  .github/workflows/test.yml
Due: none

style: adjust padding and width in SideMenu component for improved layout
  src/pages/components/SideMenu.tsx
  src/pages/components/__snapshots__/SideMenu.test.tsx.snap
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix: correct version formatting in output zip filename
  webpack.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

build: update output zip filename to use makeReleaseName function for consistency
  webpack.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix: set isRealtime to false in SolutionQuota creation for non-realtime solutions
  src/eventHandlers/updateSolutionQuota.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: add requireInteraction option to SolutionQuotaWarningNotificationConfig and update notify function usage
  src/eventHandlers/warnInsufficientNativeSolutionQuota.ts
  src/helpers/notificationConfig.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: trim code and add console.info for debugging,
  src/infra/useCases/nativeFetchTweetSolution.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: update LatestFetchTweetCommand
  src/libs/XApi/commands/latestFetchTweet.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix: enhance tweet result retrieval logic in FetchTweetCommand
  src/libs/XApi/commands/abstractFetchTweet.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

build(gecko): update gecko manifest for self-distributing
  src/manifest_firefox.json
  src/manifest_firefox_v3.json
  webpack.service.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

build(gecko): No need to zip for self-sign version
  package.json
Due: prettier --write

docs: update changelog for version 4.3.0
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

cd: update tag pattern in release workflow
  .github/workflows/release.yml
Due: none

cd: enable corepack in release workflow
  .github/workflows/release.yml
Due: none

cd: update tag pattern for versioning and upgrade Node.js setup action
  .github/workflows/release.yml
Due: none

ci: update test and build steps for improved linting and testing
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat: add whatwg-fetch polyfill and update test files for compatibility
  jest.setup.ts
  package.json
  src/infra/useCases/searchTweetIdsByHashtagsFromIDB.test.ts
  src/libs/XApi/commands/latestFetchTweet.test.ts
  src/libs/XApi/commands/restIdFetchTweet.test.ts
  yarn.lock
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

test: import core-js module for Set intersection in download history tests
  src/infra/useCases/searchTweetIdsByHashtagsFromIDB.test.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

cd: update Node.js version from 20.x to 22.x in release workflow
  .github/workflows/release.yml
Due: none

ci: update build command to build all assets in release workflow
  .github/workflows/release.yml
Due: none

cd: update Firefox xpi signing command to use unlisted channel
  .github/workflows/release.yml
Due: none

build: update self-sign build command to include zip option for Firefox
  package.json
Due: prettier --write

build: add browser-specific flags to webpack configuration and type definitions
  jest.setup.ts
  src/flags.d.ts
  webpack.common.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

i18n: update project version and creation date in locale files
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
Due: yarn check-locales

fix: update conflict action for Firefox downloads to use 'Uniquify'
  src/infra/useCases/browerDownloadFile.ts
  src/pages/components/History.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix: implement legacy upload history component for Firefox compatibility
  src/pages/components/History.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

i18n: update translations
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
Due: yarn check-locales

build: wrap DefinePlugin values in JSON.stringify
  webpack.common.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

Issue/211 (#214)
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
  src/infra/useCases/browerDownloadFile.ts
  src/pages/components/History.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn check-locales

refactor: enhance download item handling and testing with allowJSON option
  src/domain/repositories/download.ts
  src/domain/useCases/checkDownloadWasTriggeredBySelf.test.ts
  src/domain/useCases/checkDownloadWasTriggeredBySelf.ts
  src/domain/useCases/syncUsageStatisticsWithLocalDownloadHistory.ts
  src/eventHandlers/increaseUsageStatistics.test.ts
  src/provider/useCases.ts
  src/serviceWorker/handlers/handleDownloadChanged.test.ts
  src/serviceWorker/handlers/handleDownloadChanged.ts
  src/utils/test/downloadItem.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Use event driven to revoke download history object url
  src/pages/app/Options.tsx
  src/pages/components/History.test.tsx
  src/pages/components/History.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: Implement injection to capture response
  src/applicationUseCases/captureResponseAndCache.ts
  src/contentScript/main.ts
  src/domain/repositories/cache.ts
  src/domain/valueObjects/tweet.ts
  src/domain/valueObjects/tweetWithContent.ts
  src/infra/cache/tweetResponseCache.ts
  src/injections/injectFetch.ts
  src/libs/XApi/parsers/refinement.ts
  src/libs/XApi/parsers/tweet.ts
  src/libs/XApi/parsers/tweetMedia.ts
  src/libs/XApi/types/tweet.d.ts
  src/libs/webExtMessage/messages/base.ts
  src/libs/webExtMessage/messages/captureResponse.test.ts
  src/libs/webExtMessage/messages/captureResponse.ts
  src/libs/webExtMessage/messages/index.ts
  src/manifest.json
  src/manifest_firefox.json
  src/manifest_firefox_v3.json
  src/provider/caches.ts
  src/provider/index.ts
  src/runtime.d.ts
  src/serviceWorker/initMessageRouter.ts
  src/serviceWorker/messageHandlers/captureResponse.ts
  src/serviceWorker/messageRouter.ts
  webpack.contentScript.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor:: Fix folder naming for consistency
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: Integrate tweet response caching and enhance download media processing
  src/applicationUseCases/captureResponseAndCache.ts
  src/applicationUseCases/downloadTweetMedia.test.ts
  src/applicationUseCases/downloadTweetMedia.ts
  src/libs/XApi/types/tweet.d.ts
  src/mocks/caches/tweetResponseCache.ts
  src/provider/caches.ts
  src/serviceWorker/initMessageRouter.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Improve debug logging
  src/applicationUseCases/captureResponseAndCache.ts
  src/applicationUseCases/downloadTweetMedia.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Improve types and remove unused types
  src/libs/XApi/commands/abstractFetchTweet.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

test: Add test and enhance tweet generation utility
  src/applicationUseCases/downloadTweetMedia.test.ts
  src/utils/test/tweet.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: Add support for UserTweets response handling and refine instruction parsing
  src/applicationUseCases/captureResponseAndCache.ts
  src/contentScript/main.ts
  src/injections/injectFetch.ts
  src/libs/XApi/commands/abstractFetchTweet.ts
  src/libs/XApi/parsers/refinements.ts
  src/libs/XApi/parsers/tweet.ts
  src/libs/XApi/types/tweet.d.ts
  src/libs/webExtMessage/messages/captureResponse.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix: Save download history when get tweet from cache
  src/applicationUseCases/downloadTweetMedia.test.ts
  src/applicationUseCases/downloadTweetMedia.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5
