Repository EltonChou/TwitterMediaHarvest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn check-changelog, yarn check-locales, yarn check-flags

.lintstagedrc.json:

{
  "*.{css,scss,sass}": ["prettier --write"],
  "*.{js,cjs,mjs,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "yarn check-envfile sample.env",
    "yarn ci:all --findRelatedTests --passWithNoTests --bail 5"
  ],
  "*sample.env": ["yarn check-envfile sample.env"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "CHANGELOG.md": ["yarn check-changelog"],
  "*.{po,pot}": ["yarn check-locales"],
  "flag.d.ts": ["yarn check-flags"]
}

i18n: update translations
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
Due: yarn check-locales

ci: fix release workflow [skip ci]
  .github/actions/setup-git-as-bot/action.yml
  .github/workflows/release.yml
Due: none

ci: update GIT_SHA assignment logic for version strategy
  .github/workflows/release.yml
Due: none

ci: fix GIT_SHA assignment syntax in release workflow
  .github/workflows/release.yml
Due: none

ci: fix GIT_SHA assignment syntax in release workflow [skip ci]
  .github/workflows/release.yml
Due: none

i18n: add translations and update project version
  locales/de.po
  locales/en.po
  locales/es.po
  locales/fr.po
  locales/ja.po
  locales/ko.po
  locales/ru.po
  locales/zh_CN.po
  locales/zh_TW.po
Due: yarn check-locales

i18n: update i18n digest
  locales/template.pot.digest
Due: none

refactor(utils): improve error handling in translation updates
  utils/update-translations.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

chore(deps): update dependencies
  package.json
  yarn.lock
Due: prettier --write

ci: add bump-version workflow for further usage [skip ci]
  .github/workflows/bump-version.yml
  .github/workflows/test.yml
Due: none

fix: fix firefox permissions issue
  src/manifest_firefox.json
  src/manifest_firefox_v3.json
Due: prettier --write

docs: update changelog
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

fix: add web_accessible_resources in firefox for diagnostic feature
  src/manifest_firefox.json
  src/manifest_firefox_v3.json
Due: prettier --write

ci: add env var for immutable installs in for PR by `dependabot[bot]`
  .github/workflows/test.yml
Due: none

ci: remove --immutable flag from yarn install commands
  .github/workflows/test.yml
Due: none

build(deps): update @babel/runtime and glob
  yarn.lock
Due: none

build(deps): update react-router-dom to 7.11.0 and prettier to 3.7.0
  package.json
  yarn.lock
Due: prettier --write

ci: deprecate current release workflow
  .github/workflows/release-legacy.yml
Due: none

ci: refactor release workflow
  .github/workflows/release.yml
Due: none

build: enable metrics by default
  webpack.common.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: fix workflow naming [skip ci]
  .github/workflows/bump-version.yml
Due: none

ci: remove changelog output
  .github/workflows/bump-version.yml
Due: none

ci: refine tags pattern [skip ci]
  .github/workflows/release.yml
Due: none

ci: fix git tag creation [skip ci]
  .github/workflows/bump-version.yml
Due: none

ci: fix changelog step [skip ci]
  .github/workflows/bump-version.yml
Due: none

ci: add tag validation to prevent release workflow on non-semver tags [skip ci]
  .github/workflows/release.yml
Due: none

ci: fix missing env file [skip ci]
  .github/workflows/release.yml
Due: none

i18n: update and refine translations
  locales/de.po
  locales/en.po
  locales/es.po
  locales/fr.po
  locales/ja.po
  locales/ko.po
  locales/ru.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_CN.po
  locales/zh_TW.po
  src/pages/app/__snapshots__/Popup.test.tsx.snap
  src/pages/components/PopupFeatureBlock.tsx
  src/pages/components/__snapshots__/PopupFeatureBlock.test.tsx.snap
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn check-locales

ci: add check-translations to check empty translations
  .lintstagedrc.json
  package.json
  utils/check-locales.mjs
  utils/check-translations.mjs
  utils/libs/locales.mjs
  yarn.lock
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: add check-translations to check:all script and improve success output message
  package.json
  utils/check-translations.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

i18n: complete empty translations in zh_CN
  locales/zh_CN.po
Due: yarn check-locales

ci: add sync-pot-version and script for syncing translations' version with current project version
  package.json
  utils/libs/locales.mjs
  utils/locales-extractor.mjs
  utils/sync-pot-version.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

i18n: update translations
  locales/de.po
  locales/en.po
  locales/es.po
  locales/fr.po
  locales/ja.po
  locales/ko.po
  locales/ru.po
  locales/zh_CN.po
  locales/zh_TW.po
Due: yarn check-locales

ci: add check-translation step
  .github/workflows/test.yml
Due: none

ci: sync translations' version after bumping version
  .github/workflows/bump-version.yml
Due: none

docs: update changelog [skip ci]
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

fix(ci): add execution permission for utils
  utils/check-translations.mjs
  utils/envVarExtractor.mjs
  utils/libs/locales.mjs
  utils/make-release-name.mjs
  utils/sync-pot-version.mjs
  utils/update-translations.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix(ci): fix script [skip ci]
  .github/workflows/bump-version.yml
Due: none

fix(ci): fix commit files glob pattern for synced locales dir [skip ci]
  .github/workflows/bump-version.yml
Due: none

fix(ci): fix regex pattern
  utils/sync-pot-version.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5
