Repository EltonChou/TwitterMediaHarvest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check, yarn check-changelog, yarn check-locales, yarn check-translations, yarn check-flags

.lintstagedrc.json:

{
  "*.{css,scss,sass}": ["prettier --write"],
  "*.{js,cjs,mjs,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "yarn check-envfile sample.env",
    "yarn ci:all --findRelatedTests --passWithNoTests --bail 5",
    "yarn extract-locales --check"
  ],
  "*sample.env": ["yarn check-envfile sample.env"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "CHANGELOG.md": ["yarn check-changelog"],
  "*.{po,pot}": ["yarn check-locales"],
  "*.po": ["yarn check-translations"],
  "flag.d.ts": ["yarn check-flags"],
  "*.{yml, yaml}": ["prettier --write"]
}

chore: update translator agent and gitignore for Claude Code
  .claude/agents/translator.md
  .gitignore
Due: prettier --write

test(webext-i18n-loader): move fixture and fix test paths after relocation
  .lintstagedrc.json
  webpack/loaders/webext-i18n-loader/integrated_tests/__snapshots__/loader.test.ts.snap
  webpack/loaders/webext-i18n-loader/integrated_tests/fixtures/i18n.ts
  webpack/loaders/webext-i18n-loader/integrated_tests/loader.test.ts
  webpack/loaders/webext-i18n-loader/integrated_tests/tsconfig.json
  webpack/loaders/webext-i18n-loader/src/transformer.spec.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

chore(webext-i18n-loader): upgrade @types/node and clean up stale dist types
  package.json
  webpack/loaders/webext-i18n-loader/dist/fixtures/i18n.d.ts
  webpack/loaders/webext-i18n-loader/dist/src/hashStore.d.ts
  webpack/loaders/webext-i18n-loader/dist/src/index.d.ts
  webpack/loaders/webext-i18n-loader/dist/src/loader.d.ts
  webpack/loaders/webext-i18n-loader/dist/src/options.d.ts
  webpack/loaders/webext-i18n-loader/dist/src/plugin.d.ts
  webpack/loaders/webext-i18n-loader/dist/src/transformer.d.ts
  webpack/loaders/webext-i18n-loader/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

test(create-gecko-release): add unit tests for validateInputs and postJson
  .github/actions/create-gecko-release/package.json
  .github/actions/create-gecko-release/src/index.ts
  .github/actions/create-gecko-release/test/index.test.ts
  .github/actions/create-gecko-release/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

chore(jest): exclude .github actions from root Jest test run
  jest.config.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

chore(ci): fix yarn script names in workflows to match package.json
  .claude/agents/ci-maintainer.md
  .github/workflows/bump-version.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

test(e2e): add Playwright BDD suite for Chrome extension loading
  .gitignore
  e2e/README.md
  e2e/chrome/extension-loads.spec.ts
  e2e/features/extension.feature
  e2e/fixtures/chrome-extension.ts
  e2e/steps/extension.steps.ts
  e2e/tsconfig.json
  jest.config.ts
  package.json
  playwright.config.ts
  tsconfig.e2e.json
  yarn.lock
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

test(e2e): remove raw spec file superseded by BDD feature
  e2e/chrome/extension-loads.spec.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

chore: clean unused code
  src/eventHandlers/notifyDownloadInterrupted.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

chore(agents): add bdd-user agent for writing BDD e2e tests
  .claude/agents/bdd-user.md
Due: prettier --write

refactor(helpers): add isProduction constant and replace inline NODE_ENV checks
  src/domain/entities/client.ts
  src/domain/valueObjects/clientInfo.ts
  src/helpers/env.ts
  src/infra/repositories/filenameSettings.ts
  src/monitors/sentry.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

docs: improve documentation for message sending wrapper
  src/libs/webExtMessage/sendMessage.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

fix(test): eliminate flaky test caused by shared mock state in increaseUsageStatistics
  src/domain/useCases/syncUsageStatisticsWithLocalDownloadHistory.test.ts
  src/eventHandlers/increaseUsageStatistics.test.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

fix: injectFetch.ts
  src/injections/injectFetch.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

fix(injection): strengthen type guards for webpack chunk name and module
  src/injections/injectFetch.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor(injection): enhance isCallableFunction wtih arity check
  src/injections/injectFetch.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor(injection): seperate tx-id workflow and fetch workflow
  src/injections/injectFetch.ts
  src/injections/injectTxId.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

docs: complete Unreleased section in CHANGELOG
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

chore(i18n): update and sync
  locales/de.po
  locales/en.po
  locales/es.po
  locales/fr.po
  locales/it.po
  locales/ja.po
  locales/ko.po
  locales/pl.po
  locales/pt_BR.po
  locales/ru.po
  locales/template.pot
  locales/template.pot.digest
  locales/th.po
  locales/tr.po
  locales/zh_CN.po
  locales/zh_TW.po
Due: yarn check-locales, yarn check-translations

ci(release): trigger via workflow_call from bump-version instead of create event
  .github/workflows/bump-version.yml
  .github/workflows/release.yml
Due: prettier --write

fix(test): pin mime types in syncUsageStatistics test to prevent flakiness
  src/domain/useCases/syncUsageStatisticsWithLocalDownloadHistory.test.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor(useCase): extract isTestData helper in checkDownloadWasTriggeredBySelf
  src/domain/useCases/checkDownloadWasTriggeredBySelf.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

chore(deps): upgrade to TypeScript 6 and fix test compatibility
  .github/actions/create-gecko-release/package.json
  configs/prettier/package.json
  jest.config.ts
  jest.environment.ts
  package.json
  src/contentScript/core/Harvester.test.ts
  src/contentScript/main.ts
  src/contentScript/utils/article.test.ts
  src/contentScript/utils/checker.test.ts
  src/domain/valueObjects/ressettableQuota.test.ts
  src/flags.d.ts
  src/helpers/notificationButton.ts
  src/helpers/notificationConfig.ts
  src/libs/XApi/commands/__snapshots__/latestFetchTweet.test.ts.snap
  src/libs/XApi/commands/__snapshots__/restIdFetchTweet.test.ts.snap
  src/pages/app/__snapshots__/Popup.test.tsx.snap
  src/pages/components/__snapshots__/About.test.tsx.snap
  src/pages/components/__snapshots__/FeatureOptions.test.tsx.snap
  src/pages/components/__snapshots__/FootBar.test.tsx.snap
  src/pages/components/__snapshots__/GeneralOptions.test.tsx.snap
  src/pages/components/__snapshots__/IntegrationOptions.test.tsx.snap
  src/pages/components/__snapshots__/PopupFeatureBlock.test.tsx.snap
  src/pages/components/__snapshots__/SideMenu.test.tsx.snap
  src/pages/components/controls/__snapshots__/featureControls.test.tsx.snap
  src/pages/components/controls/__snapshots__/filenameControls.test.tsx.snap
  tsconfig.json
  webpack/loaders/webext-i18n-loader/package.json
  yarn.lock
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

fix(lint): resolve eslint errors after typescript-eslint upgrade
  eslint.config.mjs
  jest.environment.ts
  package.json
  src/contentScript/main.ts
  src/eventHandlers/notifyTweetApiError.ts
  src/helpers/notificationButton.ts
  src/helpers/notificationConfig.ts
  tsconfig.json
  utils/check-envfile.mjs
  utils/make-release-name.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

fix(webext-i18n-loader): fix test failures after Jest and TypeScript 6 upgrade
  webpack/loaders/webext-i18n-loader/integrated_tests/__snapshots__/loader.test.ts.snap
  webpack/loaders/webext-i18n-loader/src/__snapshots__/transformer.spec.ts.snap
  webpack/loaders/webext-i18n-loader/tsconfig.test.json
Due: prettier --write

fix(test): remove global jsdom testEnvironment to fix structuredClone error
  jest.config.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

chore(deps): freeze chalk version introduced by gettext-extractor
  .husky/common.sh
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

refactor(flags): remove test-only declarations from flags.d.ts
  src/contentScript/utils/checker.test.ts
  src/flags.d.ts
  webpack/loaders/webext-i18n-loader/eslint.config.mjs
  webpack/loaders/webext-i18n-loader/jest.config.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

chore: add .editorconfig to fit linting rule
  .editorconfig
Due: none

fix(webpack): fix webext-i18n-loader emitting issues
  webpack.contentScript.config.mjs
  webpack/loaders/webext-i18n-loader/dist/plugin.js
  webpack/loaders/webext-i18n-loader/dist/plugin.js.map
  webpack/loaders/webext-i18n-loader/eslint.config.mjs
  webpack/loaders/webext-i18n-loader/src/plugin.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

fix(build): reverse previous accidental change
  webpack.contentScript.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

fix(inject): extract transaction id generator from webpack module
  src/injections/injectTxId.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(webExtMessage): add MessagePortName enum
  src/libs/webExtMessage/port.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(webExtMessage): add OneShotMessage type and asOneShot() to WebExtMessage
  src/libs/webExtMessage/messages/base.test.ts
  src/libs/webExtMessage/messages/base.ts
  src/libs/webExtMessage/messages/captureResponse.ts
  src/libs/webExtMessage/messages/checkDownloadHistory.ts
  src/libs/webExtMessage/messages/downloadTweetMedia.ts
  src/libs/webExtMessage/messages/requestTransactionId.ts
  src/libs/webExtMessage/port.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(serviceWorker): add PortManager
  src/serviceWorker/portManager.test.ts
  src/serviceWorker/portManager.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(serviceWorker): extend MessageRouter to handle port messages
  src/serviceWorker/messageRouter.test.ts
  src/serviceWorker/messageRouter.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(serviceWorker): wire PortManager and onConnect in sw.ts
  src/serviceWorker/sw.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(serviceWorker): skip tab as tx-id provider when message arrives via port
  src/serviceWorker/messageHandlers/downloadMediaHandler.test.ts
  src/serviceWorker/messageHandlers/downloadMediaHandler.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(webExtMessage): add getMessagePort singleton
  src/libs/webExtMessage/port.test.ts
  src/libs/webExtMessage/port.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check
