Repository EltonChou/TwitterMediaHarvest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check, yarn check-changelog, yarn check-locales, yarn check-translations, yarn check-flags

.lintstagedrc.json:

{
  "*.{css,scss,sass}": ["prettier --write"],
  "*.{js,cjs,mjs,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "yarn check-envfile sample.env",
    "yarn ci:all --findRelatedTests --passWithNoTests --bail 5",
    "yarn extract-locales --check"
  ],
  "*sample.env": ["yarn check-envfile sample.env"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "CHANGELOG.md": ["yarn check-changelog"],
  "*.{po,pot}": ["yarn check-locales"],
  "*.po": ["yarn check-translations"],
  "flag.d.ts": ["yarn check-flags"],
  "*.{yml, yaml}": ["prettier --write"]
}

refactor(cache): use aggregate error
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor(cache): refine variable naming
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

docs(changelog): update changelog
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

fix(locales): exclude headers from pot digest
  locales/template.pot
  locales/template.pot.digest
  utils/locales-extractor.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check, yarn check-locales

fix(about): correct "Report issues" typo and update translations
  locales/de.po
  locales/en.po
  locales/es.po
  locales/fr.po
  locales/it.po
  locales/ja.po
  locales/ko.po
  locales/pl.po
  locales/pt_BR.po
  locales/ru.po
  locales/template.pot
  locales/template.pot.digest
  locales/th.po
  locales/tr.po
  locales/zh_CN.po
  locales/zh_TW.po
  src/pages/components/About.tsx
  src/pages/components/__snapshots__/About.test.tsx.snap
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check, yarn check-locales, yarn check-translations

refactor(cache): drop whole cache storage on clean
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor(cache): extract request and response builders
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(about): track clean-cache action metrics
  src/pages/components/About.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

chore(agents): add changelog-maintainer agent
  .claude/agents/changelog-maintainer.md
Due: prettier --write

docs(changelog): add unreleased fixes for cache cleaning and typo
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

fix(ci): pin release checkouts to bumped version tag
  .github/workflows/release.yml
Due: prettier --write

feat(cache): evict expired tweet response cache entries
  src/domain/repositories/cache.ts
  src/infra/caches/tweetResponseCache.test.ts
  src/infra/caches/tweetResponseCache.ts
  src/manifest.json
  src/manifest_firefox.json
  src/manifest_firefox_v3.json
  src/mocks/caches/tweetResponseCache.ts
  src/serviceWorker/sw.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor(cache): move evict alarm name to AlarmName enum
  src/enums/AlarmName.ts
  src/serviceWorker/sw.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

chore(cache): shorten evict alarm interval in dev builds
  src/serviceWorker/sw.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

chore(cache): log eviction duration in dev builds
  src/serviceWorker/sw.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(popup): rename NSFW toggle, widen popup, localize label
  locales/de.po
  locales/en.po
  locales/es.po
  locales/fr.po
  locales/it.po
  locales/ja.po
  locales/ko.po
  locales/pl.po
  locales/pt_BR.po
  locales/ru.po
  locales/template.pot
  locales/template.pot.digest
  locales/th.po
  locales/tr.po
  locales/zh_CN.po
  locales/zh_TW.po
  src/pages/app/Popup.tsx
  src/pages/app/__snapshots__/Popup.test.tsx.snap
  src/pages/components/PopupFeatureBlock.tsx
  src/pages/components/__snapshots__/PopupFeatureBlock.test.tsx.snap
  src/pages/index.html
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check, yarn check-locales, yarn check-translations

chroe(todo): edit todo comment
  src/serviceWorker/initEventPublisher.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

docs(changelog): record popup rename and cache eviction fix
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

chore(cache): set explicit 200 status on cached tweet response
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(webExtMessage): add OneShotMessage type and asOneShot() to WebExtMessage
  src/libs/webExtMessage/messages/base.test.ts
  src/libs/webExtMessage/messages/base.ts
  src/libs/webExtMessage/messages/captureResponse.ts
  src/libs/webExtMessage/messages/checkDownloadHistory.ts
  src/libs/webExtMessage/messages/downloadTweetMedia.ts
  src/libs/webExtMessage/messages/requestTransactionId.ts
  src/libs/webExtMessage/port.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(webExtMessage): add MessagePortName enum
  src/libs/webExtMessage/port.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(serviceWorker): add PortManager
  src/serviceWorker/portManager.test.ts
  src/serviceWorker/portManager.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(serviceWorker): extend MessageRouter to handle port messages
  src/serviceWorker/messageRouter.test.ts
  src/serviceWorker/messageRouter.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(webExtMessage): add getMessagePort singleton
  src/libs/webExtMessage/port.test.ts
  src/libs/webExtMessage/port.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(serviceWorker): skip tab as tx-id provider when message arrives via port
  src/serviceWorker/messageHandlers/downloadMediaHandler.test.ts
  src/serviceWorker/messageHandlers/downloadMediaHandler.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(serviceWorker): wire PortManager and onConnect in sw.ts
  src/serviceWorker/sw.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor(webExtMessage): simplify one-shot messages to use runtime.sendMessage
  src/libs/webExtMessage/messages/base.test.ts
  src/libs/webExtMessage/messages/captureResponse.ts
  src/libs/webExtMessage/messages/checkDownloadHistory.ts
  src/libs/webExtMessage/messages/downloadTweetMedia.ts
  src/libs/webExtMessage/messages/requestTransactionId.ts
  src/libs/webExtMessage/port.ts
  src/libs/webExtMessage/sendMessage.test.ts
  src/libs/webExtMessage/sendMessage.ts
  src/serviceWorker/messageRouter.test.ts
  src/serviceWorker/messageRouter.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(webExtMessage): replace sendMessage with port-based implementation
  jest.setup.ts
  src/contentScript/utils/button.ts
  src/libs/webExtMessage/index.ts
  src/libs/webExtMessage/sendMessage.test.ts
  src/libs/webExtMessage/sendMessage.ts
  src/pages/components/History.test.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor(test): extract shared port mock helper to src/mocks/port
  CLAUDE.md
  src/libs/webExtMessage/index.ts
  src/mocks/port.ts
  src/serviceWorker/messageRouter.test.ts
  src/serviceWorker/portManager.test.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

style: rename class and interface
  src/serviceWorker/portManager.test.ts
  src/serviceWorker/portManager.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor: remove `getPort()` from port manager
  src/serviceWorker/portManager.test.ts
  src/serviceWorker/portManager.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(contentScriptBus): introduce typed EventTarget for content script download events
  src/contentScript/utils/button.test.ts
  src/contentScript/utils/button.ts
  src/libs/contentScriptBus/contentScriptBus.ts
  src/libs/contentScriptBus/index.ts
  src/libs/webExtMessage/port.test.ts
  src/libs/webExtMessage/port.ts
  src/types/customEvent.d.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

style: move license header
  src/libs/webExtMessage/port.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(webExtMessage): implement long-lived port response dispatch via document events
  src/contentScript/main.ts
  src/contentScript/utils/button.test.ts
  src/contentScript/utils/button.ts
  src/libs/webExtMessage/messages/base.ts
  src/libs/webExtMessage/messages/captureResponse.ts
  src/libs/webExtMessage/messages/checkDownloadHistory.test.ts
  src/libs/webExtMessage/messages/checkDownloadHistory.ts
  src/libs/webExtMessage/messages/downloadTweetMedia.test.ts
  src/libs/webExtMessage/messages/downloadTweetMedia.ts
  src/libs/webExtMessage/messages/requestTransactionId.ts
  src/libs/webExtMessage/port.test.ts
  src/libs/webExtMessage/port.ts
  src/libs/webExtMessage/sendMessage.test.ts
  src/libs/webExtMessage/sendMessage.ts
  src/serviceWorker/messageRouter.test.ts
  src/serviceWorker/messageRouter.ts
  src/types/customEvent.d.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(loggers): introduce topicLogger utility
  src/libs/loggers/index.ts
  src/libs/loggers/topicLogger.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(messageRouter): broadcast DownloadMedia and CheckDownloadHistory responses to all content-script ports
  src/serviceWorker/initMessageRouter.ts
  src/serviceWorker/messageRouter.test.ts
  src/serviceWorker/messageRouter.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

chore(debug): add __DEV__ debug logs to port handler and message router
  src/libs/webExtMessage/port.ts
  src/serviceWorker/messageRouter.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor: introduce topic logger and improve readability
  src/libs/webExtMessage/port.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor: move port message handler to entry level
  src/contentScript/main.ts
  src/libs/webExtMessage/port.test.ts
  src/libs/webExtMessage/port.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(webExtMessage): mark responses with isResponse flag
  src/libs/webExtMessage/messages/base.ts
  src/libs/webExtMessage/messages/captureResponse.ts
  src/libs/webExtMessage/messages/checkDownloadHistory.ts
  src/libs/webExtMessage/messages/downloadTweetMedia.ts
  src/libs/webExtMessage/messages/requestTransactionId.ts
  src/libs/webExtMessage/sendMessage.ts
  src/serviceWorker/messageRouter.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check
