Repository EltonChou/TwitterMediaHarvest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn check-changelog, yarn check-locales, yarn check-flags

chore(i18n): sync translations' version [skip ci]
  locales/de.po
  locales/en.po
  locales/es.po
  locales/fr.po
  locales/ja.po
  locales/ko.po
  locales/ru.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_CN.po
  locales/zh_TW.po
Due: yarn check-locales

fix: fix metrics version attribute
  src/serviceWorker/initEventPublisher.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat(metrics): implement simple handler to count event and refine event registration
  src/eventHandlers/countEvent.ts
  src/eventHandlers/countEvnet.test.ts
  src/serviceWorker/initEventPublisher.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: refine generic type
  src/domain/eventPublisher.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor(webext-i18n-loader): refine logging message
  webpack/loaders/webext-i18n-loader/dist/plugin.js
  webpack/loaders/webext-i18n-loader/dist/plugin.js.map
  webpack/loaders/webext-i18n-loader/src/plugin.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix(ui): fix menu width when in narrow screen
  src/pages/components/SideMenu.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

style: add font for other languages
  src/pages/index.html
  src/pages/themes.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

style: refine style of label for popup feat. switch
  src/pages/components/controls/featureControls.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix: fix disable button of `Conflict Extensions` when no extension to disable.
  src/pages/components/Diagnostics.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: add metric for diagnostic and include extensions' version
  src/pages/hooks/useExtensionConflictDiagnostic.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

docs: update changelog
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

test: update snapshots
  src/pages/app/__snapshots__/Popup.test.tsx.snap
  src/pages/components/__snapshots__/PopupFeatureBlock.test.tsx.snap
  src/pages/components/controls/__snapshots__/featureControls.test.tsx.snap
Due: none

i18n: update omitted translations
  locales/de.po
  locales/en.po
  locales/es.po
  locales/fr.po
  locales/ja.po
  locales/ko.po
  locales/ru.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_CN.po
  locales/zh_TW.po
  src/pages/components/Diagnostics.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn check-locales

fix: disable diagnostics in firefox
  src/pages/app/Options.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: refactor and add docs to translation util
  utils/update-translations.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Improve readability and clean unused code
  src/applicationUseCases/captureResponseAndCache.ts
  src/applicationUseCases/downloadTweetMedia.ts
  src/injections/injectFetch.ts
  src/pages/components/SideMenu.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat(util): add check mode in locales-extractor
  .lintstagedrc.json
  utils/locales-extractor.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: add pot digest checking
  .github/workflows/test.yml
  package.json
Due: prettier --write

chore: update pot digest
  locales/template.pot
  locales/template.pot.digest
Due: yarn check-locales

chore: fix lint-staged configuration
  .lintstagedrc.json
Due: prettier --write

ci: remove digest checking
  .github/workflows/test.yml
Due: none

refactor: enhance duration tracking with milliseconds in download and search use cases
  src/applicationUseCases/downloadTweetMedia.ts
  src/applicationUseCases/searchDownloadHistory.ts
  src/helpers/time.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat(metric): add metrics for `CheckMediaTweetHasBeenDownloaded` use case
  src/applicationUseCases/checkMediaTweetHasBeenDownloaded.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

chore: update github bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

fix: correct import path for BrowserDownloadFile in use cases
  src/infra/useCases/browserDownloadFile.test.ts
  src/infra/useCases/browserDownloadFile.ts
  src/provider/useCases.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

chore: format tsconfig.json and set `rootDir` explictly
  tsconfig.json
Due: prettier --write

refactor: update countEvent to handle optional metric names and normalize event names
  src/eventHandlers/countEvent.ts
  src/eventHandlers/countEvnet.test.ts
  src/serviceWorker/initEventPublisher.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: rename envVarExtractor to env-var-extractor for consistency
  utils/check-envfile.mjs
  utils/env-var-extractor.mjs
  utils/mh-typegen.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

chore: add rootDir option to tsconfig.json for clarity
  webpack/loaders/webext-i18n-loader/tsconfig.json
Due: prettier --write

feat(webext-i18n-loader): add configurable outDir option to plugin and add README
  webpack/loaders/webext-i18n-loader/README.md
  webpack/loaders/webext-i18n-loader/dist/plugin.d.ts
  webpack/loaders/webext-i18n-loader/dist/plugin.js
  webpack/loaders/webext-i18n-loader/dist/plugin.js.map
  webpack/loaders/webext-i18n-loader/src/plugin.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

docs: enrich README and move dev setup to CONTRIBUTING.md
  .github/CONTRIBUTING.md
  README.md
Due: prettier --write

chore: add CLAUDE.md, AGENTS.md symlink, and normalize script prefixes
  AGENTS.md
  CLAUDE.md
  package.json
Due: prettier --write

docs: add translator agent and locales README
  .claude/agents/translator.md
  locales/README.md
Due: prettier --write

chore: fix husky pre-commit shebang and lint-staged script names
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write

i18n(pt_BR): add translation
  locales/pt_BR.po
Due: yarn check-locales

i18n(tr): add translation
  locales/tr.po
Due: yarn check-locales

i18n(pl): add translation
  locales/pl.po
Due: yarn check-locales

i18n(th): add translation
  locales/th.po
Due: yarn check-locales

i18n(it): add translation
  locales/it.po
Due: yarn check-locales

chore(locales): sync existing locales with updated template
  locales/de.po
  locales/en.po
  locales/es.po
  locales/fr.po
  locales/ja.po
  locales/ko.po
  locales/ru.po
  locales/zh_CN.po
  locales/zh_TW.po
Due: yarn check-locales

Path conditions:
  prettier --write: (((any of: *.{css,scss,sass}) or (any of: *.{js,cjs,mjs,jsx,ts,tsx})) or (any of: *.md)) or (any of: *.json)
  eslint --fix: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  yarn check-envfile sample.env: (any of: *.{js,cjs,mjs,jsx,ts,tsx}) or (any of: *sample.env)
  yarn ci:all --findRelatedTests --passWithNoTests --bail 5: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  yarn check-changelog: any of: CHANGELOG.md
  yarn check-locales: any of: *.{po,pot}
  yarn check-flags: any of: flag.d.ts
