Repository EltonChou/TwitterMediaHarvest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn check-changelog, yarn check-locales, yarn check-flags

.lintstagedrc.json:

{
  "*.{css,scss,sass}": ["prettier --write"],
  "*.{js,cjs,mjs,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "yarn check-envfile sample.env",
    "yarn ci:all --findRelatedTests --passWithNoTests --bail 5"
  ],
  "*sample.env": ["yarn check-envfile sample.env"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "CHANGELOG.md": ["yarn check-changelog"],
  "*.{po,pot}": ["yarn check-locales"],
  "flag.d.ts": ["yarn check-flags"]
}

ci: update paths-ignore to exclude actions and markdown files
  .github/workflows/test.yml
Due: none

refactor(webpack): use posix path for output file and source filename in WebextI18nPlugin
  webpack/loaders/webext-i18n-loader/dist/plugin.js
  webpack/loaders/webext-i18n-loader/dist/plugin.js.map
  webpack/loaders/webext-i18n-loader/src/plugin.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

build(tsconfig): remove deprecated config
  tsconfig.json
  webpack/loaders/webext-i18n-loader/tsconfig.json
Due: prettier --write

build(webpack): build webpack tools
  webpack/loaders/webext-i18n-loader/dist/plugin.js.map
Due: none

build(tsconfig): correct path for #domain alias
  tsconfig.json
Due: prettier --write

build: update moduleNameMapper prefix for correct path resolution and format tsconfig
  jest.config.ts
  src/serviceWorker/messageHandlers/checkDownloadHistory.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix(page): fix showOpenFilePicker() flag
  src/pages/components/History.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor(types): reorganize MediaHarvest types and add custom event interfaces
  src/runtime.d.ts
  src/types/customEvent.d.ts
  src/types/harvest.d.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor(client-api): improve error handling and readability
  src/libs/AWSClientApi/client.ts
  src/libs/AWSClientApi/commands/createClientCommand.ts
  src/libs/AWSClientApi/commands/errors.ts
  src/libs/AWSClientApi/commands/syncClientCommand.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: run test after updating browserlist-db
  .github/workflows/update-browserlist-db.yml
Due: none

chore(action): update cron schedule for browserlist DB update
  .github/workflows/update-browserlist-db.yml
Due: none

refactor(utils): improve CLI argument parsing for browser selection
  utils/make-release-name.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor(webpack): use findLast for plugin addition in configuration
  webpack.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

config(eslint): disable no-console rule for utils directory
  eslint.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor(monitor): enhance sentry to support user provider and logging options
  package.json
  src/flags.d.ts
  src/monitors/sentry.ts
  src/monitors/types.d.ts
  src/serviceWorker/sw.ts
  webpack.common.config.mjs
  yarn.lock
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

build(deps): update react, react-doms
  package.json
  src/pages/app/__snapshots__/Popup.test.tsx.snap
  src/pages/components/__snapshots__/FeatureOptions.test.tsx.snap
  src/pages/components/__snapshots__/GeneralOptions.test.tsx.snap
  src/pages/components/__snapshots__/IntegrationOptions.test.tsx.snap
  src/pages/components/__snapshots__/PopupFeatureBlock.test.tsx.snap
  src/pages/components/controls/__snapshots__/featureControls.test.tsx.snap
  yarn.lock
Due: prettier --write

refactor: Add media availability tracking to prevent downloading deleted/unavailable media
  src/applicationUseCases/downloadTweetMedia.ts
  src/domain/factories/tweetToTweetMediaFiles.test.ts
  src/domain/factories/tweetToTweetMediaFiles.ts
  src/domain/valueObjects/tweet.test.ts
  src/domain/valueObjects/tweet.ts
  src/domain/valueObjects/tweetMedia.ts
  src/infra/caches/tweetResponseCache.ts
  src/libs/XApi/commands/__snapshots__/latestFetchTweet.test.ts.snap
  src/libs/XApi/commands/__snapshots__/restIdFetchTweet.test.ts.snap
  src/libs/XApi/parsers/tweetMedia.test.ts
  src/libs/XApi/parsers/tweetMedia.ts
  src/libs/XApi/types/tweet.d.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat(metrics): add metrics for performance and usage investigation
  eslint-rules/README.md
  eslint-rules/require-metrics-flag.mjs
  eslint-rules/require-metrics-flag.test.mjs
  eslint.config.mjs
  jest.config.ts
  jest.setup.ts
  package.json
  src/applicationUseCases/downloadTweetMedia.ts
  src/applicationUseCases/searchDownloadHistory.ts
  src/eventHandlers/increaseUsageStatistics.ts
  src/flags.d.ts
  src/helpers/time.test.ts
  src/helpers/time.ts
  src/monitors/sentry.ts
  src/serviceWorker/initEventPublisher.ts
  webpack.common.config.mjs
  yarn.lock
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

style: update formatting and add YAML files to lint-staged configuration
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/actions/setup-git-as-bot/action.yml
  .github/workflows/build-create-gecko-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/update-browserlist-db.yml
  .lintstagedrc.json
Due: prettier --write

refactor: Enhance TweetMedia functionality and add unit tests
  src/domain/factories/tweetToDownloadHistory.ts
  src/domain/factories/tweetToTweetMediaFiles.test.ts
  src/domain/valueObjects/tweetMedia.test.ts
  src/domain/valueObjects/tweetMedia.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: Add diagnostics hook for extension conflict detection
  src/domain/useCases/checkDownloadWasTriggeredBySelf.test.ts
  src/domain/useCases/checkDownloadWasTriggeredBySelf.ts
  src/manifest.json
  src/pages/hooks/useExtensionConflictDiagnostics.ts
  src/static/TEST.data
  webpack.service.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: Add Diagnostics page and integrate into SideMenu
  src/pages/app/Options.tsx
  src/pages/components/Diagnostics.tsx
  src/pages/components/SideMenu.tsx
  src/pages/components/__snapshots__/SideMenu.test.tsx.snap
  src/pages/routes.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Simplify listener management in useExtensionConflictDiagnostics hook
  src/pages/hooks/useExtensionConflictDiagnostics.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Register notification:filenameOverwritten event in event publish
  src/eventHandlers/index.ts
  src/serviceWorker/initEventPublisher.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: Implement diagnose button functionality for filename overwritten notifications
  src/domain/events/FilenameOverwrittenNotificationDiagnoseButtonClicked.ts
  src/domain/events/typing.d.ts
  src/eventHandlers/openDiagnosticsPageInNewTab.test.ts
  src/eventHandlers/openDiagnosticsPageInNewTab.ts
  src/helpers/notificationButton.ts
  src/helpers/notificationConfig.ts
  src/serviceWorker/handlers/handleNotificationButtonClicked.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Add DISABLE_EXTENSION action to reducer and update diagnostics logic.
  src/pages/hooks/useExtensionConflictDiagnostics.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: Allow user to abort diagnostics
  src/pages/components/Diagnostics.tsx
  src/pages/hooks/useExtensionConflictDiagnostics.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Refine diagnostic message
  src/pages/hooks/useExtensionConflictDiagnostics.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Enhance diagnostic prompt with additional warning about temporary extension disablement
  src/pages/components/Diagnostics.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

i18n: update translations
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
Due: yarn check-locales

i18n: update translations
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
  src/pages/components/Diagnostics.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn check-locales

refactor(ui): refine ui
  src/pages/components/Diagnostics.tsx
  src/pages/helpers/text.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: diagnostics (#269)
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
  src/domain/events/FilenameOverwrittenNotificationDiagnoseButtonClicked.ts
  src/domain/events/typing.d.ts
  src/domain/factories/tweetToDownloadHistory.ts
  src/domain/factories/tweetToTweetMediaFiles.test.ts
  src/domain/useCases/checkDownloadWasTriggeredBySelf.test.ts
  src/domain/useCases/checkDownloadWasTriggeredBySelf.ts
  src/domain/valueObjects/tweetMedia.test.ts
  src/domain/valueObjects/tweetMedia.ts
  src/eventHandlers/index.ts
  src/eventHandlers/openDiagnosticsPageInNewTab.test.ts
  src/eventHandlers/openDiagnosticsPageInNewTab.ts
  src/helpers/notificationButton.ts
  src/helpers/notificationConfig.ts
  src/manifest.json
  src/pages/app/Options.tsx
  src/pages/components/Diagnostics.tsx
  src/pages/components/SideMenu.tsx
  src/pages/components/__snapshots__/SideMenu.test.tsx.snap
  src/pages/helpers/text.tsx
  src/pages/hooks/useExtensionConflictDiagnostics.ts
  src/pages/routes.ts
  src/serviceWorker/handlers/handleNotificationButtonClicked.ts
  src/serviceWorker/initEventPublisher.ts
  src/static/TEST.data
  webpack.service.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn check-locales

test: use fake timer to ensure reproducible result
  src/helpers/time.test.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: skip building test when the commit is test scope
  .github/workflows/test.yml
Due: none

fix: fix diagnostics page URL and order of notification buttons
  src/eventHandlers/openDiagnosticsPageInNewTab.test.ts
  src/eventHandlers/openDiagnosticsPageInNewTab.ts
  src/helpers/notificationConfig.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: reset warning settings to show filename overwritten notification for v4.5.0
  src/serviceWorker/initEventPublisher.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

docs(changelog): update changelog
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

refactor: rename useExtensionConflictDiagnostics to useExtensionConflictDiagnostic and refine message
  src/pages/components/Diagnostics.tsx
  src/pages/hooks/useExtensionConflictDiagnostic.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5
