Repository EltonChou/TwitterMediaHarvest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn check-changelog, yarn check-locales, yarn check-flags

.lintstagedrc.json:

{
  "*.{css,scss,sass}": ["prettier --write"],
  "*.{js,cjs,mjs,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "yarn check-envfile sample.env",
    "yarn ci:all --findRelatedTests --passWithNoTests --bail 5"
  ],
  "*sample.env": ["yarn check-envfile sample.env"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "CHANGELOG.md": ["yarn check-changelog"],
  "*.{po,pot}": ["yarn check-locales"],
  "flag.d.ts": ["yarn check-flags"]
}

fix: Correct optional chaining in isMediaTweet function to prevent reading property from undefined
  src/libs/XApi/parsers/refinements.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Refactor tweet retrieval logic and refine
  src/applicationUseCases/captureResponseAndCache.ts
  src/libs/XApi/parsers/tweet.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: Add cache support for UserMedia endpoint
  src/applicationUseCases/captureResponseAndCache.ts
  src/contentScript/main.ts
  src/injections/injectFetch.ts
  src/libs/XApi/parsers/refinements.ts
  src/libs/XApi/parsers/test-data/UserMedia.json
  src/libs/XApi/parsers/tweet.test.ts
  src/libs/XApi/parsers/tweet.ts
  src/libs/XApi/types/tweet.d.ts
  src/libs/webExtMessage/messages/captureResponse.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix: Fix tweet retrieval logic and add tests
  src/libs/XApi/parsers/test-data/TweetDetail.json
  src/libs/XApi/parsers/test-data/UserTweets.json
  src/libs/XApi/parsers/tweet.test.ts
  src/libs/XApi/parsers/tweet.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

fix(idb): Old history might be lack of hashtags, prevent undefined
  src/infra/repositories/IDBDownloadHistory.ts
  src/infra/repositories/IDBPortableDownloadHistory.ts
  src/mappers/downloadHistory.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

build: Improve tree shaking to prevent remote code snippet
  src/monitors/sentry.ts
  webpack.common.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: Some flags are for external libs
  utils/check-flags.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

i18n: Update translations
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
Due: yarn check-locales

ci: Fix check-flags util
  utils/check-flags.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

test: Add tests
  src/applicationUseCases/captureResponseAndCache.test.ts
  src/domain/valueObjects/tweetWithContent.test.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: Capture api's response and cache it (#218)
  src/applicationUseCases/captureResponseAndCache.test.ts
  src/applicationUseCases/captureResponseAndCache.ts
  src/applicationUseCases/downloadTweetMedia.test.ts
  src/applicationUseCases/downloadTweetMedia.ts
  src/contentScript/main.ts
  src/domain/repositories/cache.ts
  src/domain/valueObjects/tweet.ts
  src/domain/valueObjects/tweetWithContent.test.ts
  src/domain/valueObjects/tweetWithContent.ts
  src/infra/caches/tweetResponseCache.ts
  src/injections/injectFetch.ts
  src/libs/XApi/commands/abstractFetchTweet.ts
  src/libs/XApi/parsers/refinements.ts
  src/libs/XApi/parsers/test-data/TweetDetail.json
  src/libs/XApi/parsers/test-data/UserMedia.json
  src/libs/XApi/parsers/test-data/UserTweets.json
  src/libs/XApi/parsers/tweet.test.ts
  src/libs/XApi/parsers/tweet.ts
  src/libs/XApi/parsers/tweetMedia.ts
  src/libs/XApi/types/tweet.d.ts
  src/libs/webExtMessage/messages/base.ts
  src/libs/webExtMessage/messages/captureResponse.test.ts
  src/libs/webExtMessage/messages/captureResponse.ts
  src/libs/webExtMessage/messages/index.ts
  src/manifest.json
  src/manifest_firefox.json
  src/manifest_firefox_v3.json
  src/mocks/caches/tweetResponseCache.ts
  src/provider/caches.ts
  src/provider/index.ts
  src/runtime.d.ts
  src/serviceWorker/initMessageRouter.ts
  src/serviceWorker/messageHandlers/captureResponse.ts
  src/serviceWorker/messageRouter.ts
  src/utils/test/tweet.ts
  webpack.contentScript.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Move downloadConfigToBrowserDownloadOptions to mappers and clean up usage
  src/infra/useCases/browerDownloadFile.ts
  src/infra/useCases/browserDownloadMediaFile.ts
  src/mappers/downloadConfig.ts
  tsconfig.json
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: chrome can request download prompt
  src/pages/components/GeneralOptions.tsx
  src/pages/components/__snapshots__/GeneralOptions.test.tsx.snap
  src/pages/hooks/useDownloadSettings.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

chore: Add script in package.json
  package.json
Due: prettier --write

docs: Update changelog
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

license: Add missing license header to tweetResponseCache.ts
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

version: bump version to 4.4.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn check-changelog

cd: Fix xpi path
  .github/workflows/release.yml
Due: none

refactor: unify user media response handling and update response types
  src/applicationUseCases/captureResponseAndCache.ts
  src/contentScript/main.ts
  src/injections/injectFetch.ts
  src/libs/XApi/types/tweet.d.ts
  src/libs/webExtMessage/messages/captureResponse.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

test: refactor user media response test to use parameterized cases
  src/applicationUseCases/captureResponseAndCache.test.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

chore: update yarn version to 4.9.1 and add yarnPath to .yarnrc.yml
  .yarnrc.yml
  package.json
Due: prettier --write

feat: add support for new response types and schemas for bookmarks, likes, and communities explore timeline
  src/applicationUseCases/captureResponseAndCache.ts
  src/contentScript/main.ts
  src/injections/injectFetch.ts
  src/libs/XApi/types/tweet.d.ts
  src/libs/webExtMessage/messages/captureResponse.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: update corepack setup in GitHub Actions workflow
  .github/workflows/test.yml
Due: none

ci: Try to fix package manager
  package.json
Due: prettier --write

ci: use yarn itself to set package manager
  .github/workflows/test.yml
Due: none

ci: Include yarn runtime
  .github/workflows/test.yml
  .gitignore
  .yarn/releases/yarn-4.9.1.cjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: Another ci fixing commit
  .github/workflows/test.yml
Due: none

refactor: Improve error handling and logging in response capture
  src/applicationUseCases/captureResponseAndCache.ts
  src/serviceWorker/messageHandlers/captureResponse.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: Add support for ListLatestTweetsTimeline response and related parsing logic
  src/applicationUseCases/captureResponseAndCache.test.ts
  src/applicationUseCases/captureResponseAndCache.ts
  src/contentScript/main.ts
  src/injections/injectFetch.ts
  src/libs/XApi/parsers/refinements.ts
  src/libs/XApi/parsers/tweet.ts
  src/libs/XApi/types/tweet.d.ts
  src/libs/webExtMessage/messages/captureResponse.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

chore: Update bug report template to clarify version check
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

fix: Enhance tweet result handling and parsing logic with new utility functions
  src/applicationUseCases/captureResponseAndCache.test.ts
  src/applicationUseCases/captureResponseAndCache.ts
  src/libs/XApi/parsers/refinements.ts
  src/libs/XApi/parsers/tweet.ts
  src/libs/XApi/types/tweet.d.ts
  src/utils/result.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Prevent unnecessary processing in saveAll when no items are provided
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

chore: Tune sentry configuration
  src/monitors/sentry.ts
  webpack.common.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

chore: Update version and creation date in localization files for release 4.4.0
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
Due: yarn check-locales

chore: Add packageManager field to package.json
  package.json
Due: prettier --write

build: Add minimum Chrome version to manifest dynamically based on browserlist
  src/manifest.json
  webpack.service.config.mjs
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

chore: Update bug report template and update README features list
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
Due: prettier --write

chore: Correct pluralization in cache debug message for multiple tweets
  src/applicationUseCases/captureResponseAndCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5
