Repository EltonChou/TwitterMediaHarvest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check, yarn check-changelog, yarn check-locales, yarn check-translations, yarn check-flags

docs(mocks): add README for src/mocks directory
  src/mocks/README.md
Due: prettier --write

perf(lint-staged): speed up pre-commit hook
  .lintstagedrc.json
Due: prettier --write

fix: Fix tweet entities' schema
  src/libs/XApi/parsers/tweet.ts
  src/libs/XApi/types/tweet.d.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor(xapi): update XApi commands
  src/libs/XApi/commands/guestFetchTweet.ts
  src/libs/XApi/commands/latestFetchTweet.ts
  src/libs/XApi/commands/restIdFetchTweet.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

docs: update CHANGELOG
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

fix(ci): pin keep-a-changelog version to 2.8.0
  package.json
  yarn.lock
Due: prettier --write

fix(ci): prevent workflow deadlock [skip ci]
  .github/workflows/release.yml
Due: prettier --write

chore: update translations [skip ci]
  locales/de.po
  locales/en.po
  locales/es.po
  locales/fr.po
  locales/it.po
  locales/ja.po
  locales/ko.po
  locales/pl.po
  locales/pt_BR.po
  locales/ru.po
  locales/template.pot
  locales/template.pot.digest
  locales/th.po
  locales/tr.po
  locales/zh_CN.po
  locales/zh_TW.po
Due: yarn check-locales, yarn check-translations

refactor(injection): improve typing to prevent breaking user's runtime
  src/injections/injectTxId.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

ci(release): add Firefox xpi install note to GitHub release body
  .github/workflows/release.yml
Due: prettier --write

refactor(xapi): refine auth headers making
  src/libs/XApi/commands/graphql.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor(xapi): refactor tweet parser in tweet fetching command
  src/libs/XApi/commands/__snapshots__/latestFetchTweet.test.ts.snap
  src/libs/XApi/commands/__snapshots__/restIdFetchTweet.test.ts.snap
  src/libs/XApi/commands/abstractFetchTweet.ts
  src/libs/XApi/parsers/refinements.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

fix(cache): correct cache time
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(xapi): add cache support for notification device-follow timeline
  CHANGELOG.md
  src/applicationUseCases/captureResponseAndCache.test.ts
  src/applicationUseCases/captureResponseAndCache.ts
  src/contentScript/main.ts
  src/injections/injectFetch.ts
  src/libs/XApi/parsers/refinements.ts
  src/libs/XApi/parsers/test-data/NotificationDeviceFollow.json
  src/libs/XApi/parsers/tweet.test.ts
  src/libs/XApi/parsers/tweet.ts
  src/libs/XApi/types/tweet.d.ts
  src/libs/webExtMessage/messages/captureResponse.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check, yarn check-changelog

refactor: add `Content-Length` to tweet cache response headers
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

fix(husky): use LF line endings in common.sh so hooks run on linux
  .husky/common.sh
Due: none

feat(download): download tweet GIFs as actual .gif files
  package.json
  src/applicationUseCases/downloadTweetMedia.ts
  src/contentScript/main.ts
  src/domain/factories/tweetToTweetMediaFiles.test.ts
  src/domain/factories/tweetToTweetMediaFiles.ts
  src/domain/useCases/downloadMediaFile.ts
  src/domain/valueObjects/tweetMedia.test.ts
  src/domain/valueObjects/tweetMedia.ts
  src/domain/valueObjects/tweetMediaFile.ts
  src/infra/useCases/aria2DownloadMediaFile.test.ts
  src/infra/useCases/aria2DownloadMediaFile.ts
  src/infra/useCases/browserDownloadMediaFile.test.ts
  src/infra/useCases/browserDownloadMediaFile.ts
  src/libs/XApi/commands/__snapshots__/latestFetchTweet.test.ts.snap
  src/libs/XApi/parsers/tweetMedia.ts
  src/libs/webExtMessage/messages/base.ts
  src/libs/webExtMessage/messages/convertMp4ToGif.test.ts
  src/libs/webExtMessage/messages/convertMp4ToGif.ts
  src/libs/webExtMessage/messages/index.ts
  src/serviceWorker/initMessageRouter.ts
  src/serviceWorker/messageHandlers/downloadMediaHandler.test.ts
  src/serviceWorker/messageHandlers/downloadMediaHandler.ts
  src/types/gifshot.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

perf(gif): replace gifshot with gifenc for much faster, smaller gifs
  package.json
  src/contentScript/main.ts
  src/contentScript/utils/mp4ToGif.test.ts
  src/contentScript/utils/mp4ToGif.ts
  src/types/gifenc.d.ts
  src/types/gifshot.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

fix: address review comments on gif download
  src/contentScript/main.ts
  src/infra/useCases/browserDownloadMediaFile.test.ts
  src/libs/webExtMessage/messages/convertMp4ToGif.test.ts
  src/libs/webExtMessage/messages/convertMp4ToGif.ts
  src/serviceWorker/messageHandlers/downloadMediaHandler.test.ts
  src/serviceWorker/messageHandlers/downloadMediaHandler.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(ui): add cache clean button at About page
  src/domain/repositories/tweet.ts
  src/infra/caches/tweetResponseCache.ts
  src/pages/app/Options.tsx
  src/pages/components/About.test.tsx
  src/pages/components/About.tsx
  src/pages/components/__snapshots__/About.test.tsx.snap
  src/pages/index.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

refactor(cache): add `clean()` to cache interface
  src/domain/repositories/cache.ts
  src/infra/caches/tweetResponseCache.ts
  src/mocks/caches/tweetResponseCache.ts
  src/serviceWorker/initEventPublisher.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

feat(ui): add loading state to cache clean button
  src/pages/components/About.test.tsx
  src/pages/components/About.tsx
  src/pages/components/__snapshots__/About.test.tsx.snap
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

i18n(de): update translation
  locales/de.po
Due: yarn check-locales, yarn check-translations

i18n: extract Clean Cache string into template
  locales/template.pot
  locales/template.pot.digest
Due: yarn check-locales

i18n(en): update translation
  locales/en.po
Due: yarn check-locales, yarn check-translations

i18n(es): update translation
  locales/es.po
Due: yarn check-locales, yarn check-translations

i18n(it): update translation
  locales/it.po
Due: yarn check-locales, yarn check-translations

i18n(fr): update translation
  locales/fr.po
Due: yarn check-locales, yarn check-translations

i18n(ja): update translation
  locales/ja.po
Due: yarn check-locales, yarn check-translations

i18n(ko): update translation
  locales/ko.po
Due: yarn check-locales, yarn check-translations

i18n(pt_BR): update translation
  locales/pt_BR.po
Due: yarn check-locales, yarn check-translations

i18n(pl): update translation
  locales/pl.po
Due: yarn check-locales, yarn check-translations

i18n(ru): update translation
  locales/ru.po
Due: yarn check-locales, yarn check-translations

i18n(th): update translation
  locales/th.po
Due: yarn check-locales, yarn check-translations

i18n(tr): update translation
  locales/tr.po
Due: yarn check-locales, yarn check-translations

i18n(zh_CN): update translation
  locales/zh_CN.po
Due: yarn check-locales, yarn check-translations

@ feat(about): show clean-cache result as a button state icon
  locales/de.po
  locales/en.po
  locales/es.po
  locales/fr.po
  locales/it.po
  locales/ja.po
  locales/ko.po
  locales/pl.po
  locales/pt_BR.po
  locales/ru.po
  locales/template.pot
  locales/template.pot.digest
  locales/th.po
  locales/tr.po
  locales/zh_CN.po
  locales/zh_TW.po
  src/pages/components/About.test.tsx
  src/pages/components/About.tsx
  src/pages/components/__snapshots__/About.test.tsx.snap
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check, yarn check-locales, yarn check-translations

i18n(zh_TW): update translation
  locales/zh_TW.po
Due: yarn check-locales, yarn check-translations

fix(cache): fix stats calculation condition
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

fix(cache): fix stats calculation
  src/infra/caches/tweetResponseCache.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn extract-locales --check

Path conditions:
  prettier --write: ((((any of: *.{css,scss,sass}) or (any of: *.{js,cjs,mjs,jsx,ts,tsx})) or (any of: *.md)) or (any of: *.json)) or (any of: *.{yml, yaml})
  eslint --fix: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  yarn check-envfile sample.env: (any of: *.{js,cjs,mjs,jsx,ts,tsx}) or (any of: *sample.env)
  yarn ci:all --findRelatedTests --passWithNoTests --bail 5: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  yarn extract-locales --check: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  yarn check-changelog: any of: CHANGELOG.md
  yarn check-locales: any of: *.{po,pot}
  yarn check-translations: any of: *.po
  yarn check-flags: any of: flag.d.ts
