Repository EltonChou/TwitterMediaHarvest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests, yarn check-changelog

.lintstagedrc.json:

{
  "*.{css,scss,sass}": ["prettier --write"],
  "*.{js,cjs,mjs,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "yarn test --quiet --findRelatedTests"
  ],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "CHANGELOG.md": ["yarn check-changelog"]
}

license: Add MPL-2.0 header
  src/enums/ConflictAction.ts
  src/enums/FetchTweetSolution.ts
  src/enums/mediaType.ts
  src/enums/patternToken.ts
  src/eventHandlers/checkCompletedDownload.ts
  src/eventHandlers/cleanDownloadRecord.ts
  src/eventHandlers/increaseUsageStatistics.ts
  src/eventHandlers/index.ts
  src/eventHandlers/initClient.ts
  src/eventHandlers/notifyDownloadInterrupted.ts
  src/eventHandlers/notifyFilenameIsOverwritten.ts
  src/eventHandlers/notifyTweetApiError.ts
  src/eventHandlers/openFailedTweetInNewTab.ts
  src/eventHandlers/openTweetOfFailedDownloadInNewTab.ts
  src/eventHandlers/recordDispatchedDownloadConfiguration.ts
  src/eventHandlers/retryFailedDownload.ts
  src/eventHandlers/setMonitorUser.ts
  src/eventHandlers/showClientInfoInConsole.ts
  src/eventHandlers/showUpdateMessageInConsole.ts
  src/eventHandlers/syncClient.ts
  src/eventHandlers/updateSolutionQuota.ts
  src/eventHandlers/warnInsufficientNativeSolutionQuota.ts
  src/helpers/clientApiUrl.ts
  src/helpers/notificationButton.ts
  src/helpers/notificationConfig.ts
  src/helpers/notificationId.ts
  src/helpers/time.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor(i18n): Update pot and refine description
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
  src/pages/components/GeneralOptions.tsx
  src/pages/components/__snapshots__/GeneralOptions.test.tsx.snap
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Update type guards for download state checks
  src/utils/downloadState.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Enhance hashtag validation logic in parseHashtags function
  src/libs/XApi/commands/abstractFetchTweet.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

fix: Await asynchronous conversion in export method
  src/infra/repositories/IDBPortableDownloadHistory.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

build: Introduce gecko spec json
  gecko.spec.json
  webpack.service.config.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

build: Intro typegen utility for generating TypeScript type definitions from environment variables
  package.json
  sample.env
  src/helpers/runtime.test.ts
  src/provider/client.ts
  src/runtime.d.ts
  utils/mh-typegen.mjs
  webpack.common.config.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

fix: Correct import path for GeckoSpec
  webpack.service.config.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

test: Change test data name
  src/test-data/TweetDetail.json
Due: prettier --write

ci: Enhance environment variable management and validation
  .lintstagedrc.json
  package.json
  sample.env
  src/runtime.d.ts
  utils/check-envfile.mjs
  utils/envVarExtractor.mjs
  utils/mh-typegen.mjs
  webpack.common.config.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

test(webpack): Update snapshot to replace enum usage with string literal
  webpack/loaders/webext-i18n-loader/src/__snapshots__/transformer.spec.ts.snap
Due: none

fix: Update file permissions for check-envfile and mh-typegen scripts
  utils/check-envfile.mjs
  utils/mh-typegen.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

ci: Reorder build command to ensure environment file is checked before building
  .github/workflows/test.yml
  package.json
Due: prettier --write

refactor(webpack): implement source map generation and update handling for further usage
  webpack/loaders/webext-i18n-loader/package.json
  webpack/loaders/webext-i18n-loader/src/loader.ts
  yarn.lock
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

fix: improve user name filtering by normalizing case sensitivity
  src/applicationUseCases/searchDownloadHistory.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

fix(loader): update source map handling to avoid errors when generator is undefined
  webpack/loaders/webext-i18n-loader/src/loader.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

ci: update test command to use 'test:all' for better test coverage
  .lintstagedrc.json
Due: prettier --write

ci: reorganize commands
  .lintstagedrc.json
Due: prettier --write

refactor: Introduce File System Access API to refine history import logic
  package.json
  src/pages/components/History.tsx
  src/pages/hooks/useDownloadHistory.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

i18n: Update translations
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
Due: none

build: add makeReleaseName utility for generating formatted release names
  utils/make-release-name.mjs
  webpack.common.config.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

build: enhance build process with file management and zipping options
  package.json
  webpack.config.mjs
  webpack/utils.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

docs: correct placement
  src/eventHandlers/warnInsufficientNativeSolutionQuota.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

cd: update release workflow for improved artifact handling and environment consistency
  .github/workflows/release.yml
Due: none

refactor: introduce propsExtractor utility for streamlined property extraction
  src/domain/valueObjects/filenameSetting.ts
  src/eventHandlers/retryFailedDownload.ts
  src/mappers/awsCredential.ts
  src/utils/valuObject.ts
  src/utils/valueObject.test.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Add options for SolutionQuota warnning.
  src/domain/entities/solutionQuota.test.ts
  src/domain/entities/solutionQuota.ts
  src/eventHandlers/warnInsufficientNativeSolutionQuota.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

build: Introduce flags for tree-shaking
  jest.setup.ts
  src/flag.d.ts
  src/helpers/notificationConfig.ts
  src/helpers/runtime.test.ts
  src/helpers/runtime.ts
  src/infra/useCases/browerDownloadFile.ts
  src/infra/useCases/browserDownloadMediaFile.ts
  src/pages/components/IntegrationOptions.tsx
  src/pages/components/__snapshots__/GeneralOptions.test.tsx.snap
  src/pages/components/__snapshots__/IntegrationOptions.test.tsx.snap
  src/pages/hooks/useDownloadSettings.ts
  webpack.common.config.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: remove logEventInConsole and update event publisher registration
  src/eventHandlers/index.ts
  src/eventHandlers/logEventInConsole.test.ts
  src/eventHandlers/logEventInConsole.ts
  src/infra/eventPublisher.ts
  src/serviceWorker/initEventPublisher.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

fix: fix __DEV__ definition in DefinePlugin
  webpack.common.config.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

docs: correct typo
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

refactor: prevent blinking
  src/contentScript/utils/button.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

build: update browser support versions due to introduction of File System API
  .browserslistrc
Due: none

build: remove gecko.spec.json and update Firefox version handling in webpack config
  gecko.spec.json
  package.json
  webpack.service.config.mjs
  yarn.lock
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Use global flags to improve tree-shaking
  .lintstagedrc.json
  jest.setup.ts
  package.json
  sample.env
  src/flags.d.ts
  src/monitors/sentry.ts
  src/pages/components/GeneralOptions.test.tsx
  src/pages/components/IntegrationOptions.test.tsx
  src/pages/components/IntegrationOptions.tsx
  src/pages/components/__snapshots__/GeneralOptions.test.tsx.snap
  src/pages/components/__snapshots__/IntegrationOptions.test.tsx.snap
  src/pages/hooks/useDownloadSettings.test.ts
  src/pages/hooks/useWarningSettings.test.ts
  src/pages/links.ts
  src/runtime.d.ts
  src/utils/runtime.ts
  utils/check-flags.mjs
  webpack.common.config.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

i18n: Update translation files and add update-translations script
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
  package.json
  utils/update-translations.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

ci: correct parameter name and update action's version
  .github/workflows/release.yml
Due: none

ci: Update test workflow
  .github/workflows/test.yml
Due: none

fix: update file permissions for check-flags.mjs
  utils/check-flags.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

docs: Update changelog
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

version: bump version 4.3.0
  package.json
Due: prettier --write
