Repository EltonChou/TwitterMediaHarvest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests, yarn check-changelog

.lintstagedrc.json:

{
  "*.{css,scss,sass}": ["prettier --write"],
  "*.{js,cjs,mjs,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "yarn test --quiet --findRelatedTests"
  ],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "CHANGELOG.md": ["yarn check-changelog"]
}

ci: Fix and improve lint-staged scripts
  .lintstagedrc.json
Due: prettier --write

fix: Fix fallback fetch tweet endpoint
  src/infra/useCases/fallbackFetchTweet.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Refine fetchTweet error message
  src/domain/useCases/fetchTweet.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

feat: Add warning settings hook
  src/mocks/repositories/warningSettings.ts
  src/pages/hooks/useWarningSettings.test.ts
  src/pages/hooks/useWarningSettings.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

feat: Add filename detector integration
  src/pages/components/IntegrationOptions.test.tsx
  src/pages/components/IntegrationOptions.tsx
  src/pages/components/__snapshots__/IntegrationOptions.test.tsx.snap
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

ci: Add cross-env to run script and add po file checking
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write

fix: Fix dependencies injection
  src/pages/app/Options.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Replace `Aggressive mode` with `Filename detector`
  src/pages/components/IntegrationOptions.tsx
  src/pages/components/__snapshots__/IntegrationOptions.test.tsx.snap
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

ci: check type before test
  package.json
Due: prettier --write

refactor(i18n): Update translations
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
Due: none

chore: Tune configs for windows
  .yarnrc.yml
  package.json
  webpack/loaders/webext-i18n-loader/package.json
  webpack/loaders/webext-i18n-loader/tsconfig.json
  webpack/loaders/webext-i18n-loader/tsconfig.test.json
Due: prettier --write

build: Update dependencies
  yarn.lock
Due: none

fix: Fix cross env path issues
  utils/check-locales.mjs
  webpack/loaders/webext-i18n-loader/src/plugin.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

test: Don't know why, but userEvent need to be setup after rendering
  src/pages/app/Popup.test.tsx
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

chore: Tune yarn config
  .yarnrc.yml
Due: none

chore: Solve cross env script issue
  package.json
Due: prettier --write

feat: Add history import and export hook
  src/domain/valueObjects/portableDownloadHistory.ts
  src/domain/valueObjects/portableDownloadHistoryItem.ts
  src/mappers/portableDownloadHistory.ts
  src/mocks/applicationUseCases/searchDownloadHistory.ts
  src/mocks/repositories/portableDownloadHistory.ts
  src/pages/app/Options.tsx
  src/pages/components/History.test.tsx
  src/pages/components/History.tsx
  src/pages/hooks/useDownloadHistory.test.ts
  src/pages/hooks/useDownloadHistory.ts
  src/pages/index.tsx
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

fix: Fix filename coparison when download completed
  package.json
  src/eventHandlers/checkCompletedDownload.test.ts
  src/eventHandlers/checkCompletedDownload.ts
  yarn.lock
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

feat: Add filename pattern tokens
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
  src/domain/valueObjects/filenameSetting.ts
  src/pages/components/GeneralOptions.tsx
  src/pages/components/__snapshots__/GeneralOptions.test.tsx.snap
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Refine useDownloadHistoryhook and improve test coverage
  src/domain/valueObjects/portableDownloadHistory.test.ts
  src/pages/hooks/useDownloadHistory.test.ts
  src/pages/hooks/useDownloadHistory.ts
  src/utils/test/v5PortableDownloadHistory.ts
  src/utils/test/v5ProtableDownloadHistoryItem.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

docs(changelog): Update changelog
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

fix: Fix media checker (#197)
  src/contentScript/utils/article.test.ts
  src/contentScript/utils/article.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

feat(pages): Improve download history hook
  src/pages/app/Options.tsx
  src/pages/components/History.test.tsx
  src/pages/components/History.tsx
  src/pages/hooks/useDownloadHistory.test.ts
  src/pages/hooks/useDownloadHistory.ts
  src/pages/index.tsx
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Remove deprecated api `forwardRef`
  src/pages/components/History.tsx
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Improve readability
  src/applicationUseCases/searchDownloadHistory.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Wrap error if the error is related to format
  src/pages/hooks/useDownloadHistory.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Prefer enum
  src/pages/hooks/useDownloadHistory.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

test: Prevent error without message
  src/pages/hooks/useDownloadHistory.test.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

fix: Fix tweetId set when creating new hashtag relationship record
  src/infra/repositories/IDBDownloadHistory.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

fix: Add missing thumbnail property
  src/mappers/downloadHistory.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Implement history import & export in options page
  locales/en.po
  locales/ja.po
  locales/template.pot
  locales/template.pot.digest
  locales/zh_TW.po
  package.json
  src/mocks/useCases/downloadFile.ts
  src/pages/app/Options.tsx
  src/pages/components/History.test.tsx
  src/pages/components/History.tsx
  src/pages/hooks/useDownloadHistory.test.ts
  src/pages/hooks/useDownloadHistory.ts
  src/pages/index.tsx
  src/provider/useCases.ts
  src/types/harvest.d.ts
  src/utils/url.test.ts
  src/utils/url.ts
  yarn.lock
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: total page should be started by 1
  src/applicationUseCases/searchDownloadHistory.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Replace TweetUser with DownloadHistoryTweetUser
  src/applicationUseCases/searchDownloadHistory.ts
  src/domain/entities/downloadHistory.ts
  src/domain/valueObjects/downloadHistoryTweetUser.ts
  src/domain/valueObjects/tweet.ts
  src/domain/valueObjects/tweetUser.ts
  src/infra/repositories/IDBDownloadHistory.ts
  src/infra/useCases/abstractFetchTweet.ts
  src/infra/useCases/searchDownloadHistoryFromIDB.ts
  src/mappers/portableDownloadHistory.ts
  src/pages/components/GeneralOptions.tsx
  src/utils/test/tweetUser.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

fix: Fix version custom validation error message
  src/pages/hooks/useDownloadHistory.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Inject blob convertion on demand
  src/domain/repositories/portableDownloadHistory.ts
  src/infra/repositories/IDBPortableDownloadHistory.test.ts
  src/infra/repositories/IDBPortableDownloadHistory.ts
  src/mocks/repositories/portableDownloadHistory.ts
  src/pages/hooks/useDownloadHistory.ts
  src/provider/repos.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

docs: Note for inconsistent test result
  src/domain/useCases/syncUsageStatisticsWithLocalDownloadHistory.test.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

test(webpack): Increase timeout for loader integration test
  webpack/loaders/webext-i18n-loader/integrated_tests/loader.test.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor: Improve readability and add docs about events
  src/infra/useCases/browserDownloadMediaFile.ts
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

refactor(webpack): Isolate i18n transformer
  webpack/loaders/webext-i18n-loader/fixtures/i18n.ts
  webpack/loaders/webext-i18n-loader/integrated_tests/loader.test.ts
  webpack/loaders/webext-i18n-loader/src/__snapshots__/transformer.spec.ts.snap
  webpack/loaders/webext-i18n-loader/src/hashStore.ts
  webpack/loaders/webext-i18n-loader/src/index.ts
  webpack/loaders/webext-i18n-loader/src/loader.ts
  webpack/loaders/webext-i18n-loader/src/options.ts
  webpack/loaders/webext-i18n-loader/src/transformer.spec.ts
  webpack/loaders/webext-i18n-loader/src/transformer.ts
  webpack/loaders/webext-i18n-loader/tsconfig.json
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests

build: Adapt i18nTransformer in ts-loader
  webpack.common.config.mjs
Due: prettier --write, eslint --fix, yarn test --quiet --findRelatedTests
