Repository EltonChou/TwitterMediaHarvest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5, yarn check-changelog, yarn check-locales, yarn check-flags

refactor: Simplify message handling in onMessage listener
  src/contentScript/main.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

test: Focus on cache repo get method has been called or not
  src/applicationUseCases/downloadTweetMedia.test.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

refactor: Update requestHistoryFile to include PermissionDenied in error handling
  src/pages/components/History.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

feat: Add SearchTimeline response handling and schema validation
  src/applicationUseCases/captureResponseAndCache.ts
  src/contentScript/main.ts
  src/injections/injectFetch.ts
  src/libs/XApi/types/tweet.d.ts
  src/libs/webExtMessage/messages/captureResponse.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

build: Change moduleResolution from 'node' to 'bundler' in tsconfig.json
  tsconfig.json
Due: prettier --write

ci: Add create-gecko-release GitHub action
  .github/actions/create-gecko-release/.gitignore
  .github/actions/create-gecko-release/.prettierignore
  .github/actions/create-gecko-release/README.md
  .github/actions/create-gecko-release/action.yml
  .github/actions/create-gecko-release/package.json
  .github/actions/create-gecko-release/prettier.config.mjs
  .github/actions/create-gecko-release/src/index.ts
  .github/actions/create-gecko-release/tsconfig.json
  .github/workflows/build-create-gecko-release.yml
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

chore: Add dist directory into version control.
  .github/actions/create-gecko-release/dist/index.js
  .github/actions/create-gecko-release/dist/package.json
  .gitignore
  webpack/loaders/webext-i18n-loader/dist/fixtures/i18n.d.ts
  webpack/loaders/webext-i18n-loader/dist/hashStore.d.ts
  webpack/loaders/webext-i18n-loader/dist/hashStore.js
  webpack/loaders/webext-i18n-loader/dist/hashStore.js.map
  webpack/loaders/webext-i18n-loader/dist/index.d.ts
  webpack/loaders/webext-i18n-loader/dist/index.js
  webpack/loaders/webext-i18n-loader/dist/index.js.map
  webpack/loaders/webext-i18n-loader/dist/loader.d.ts
  webpack/loaders/webext-i18n-loader/dist/loader.js
  webpack/loaders/webext-i18n-loader/dist/loader.js.map
  webpack/loaders/webext-i18n-loader/dist/options.d.ts
  webpack/loaders/webext-i18n-loader/dist/options.js
  webpack/loaders/webext-i18n-loader/dist/options.js.map
  webpack/loaders/webext-i18n-loader/dist/plugin.d.ts
  webpack/loaders/webext-i18n-loader/dist/plugin.js
  webpack/loaders/webext-i18n-loader/dist/plugin.js.map
  webpack/loaders/webext-i18n-loader/dist/src/hashStore.d.ts
  webpack/loaders/webext-i18n-loader/dist/src/index.d.ts
  webpack/loaders/webext-i18n-loader/dist/src/loader.d.ts
  webpack/loaders/webext-i18n-loader/dist/src/options.d.ts
  webpack/loaders/webext-i18n-loader/dist/src/plugin.d.ts
  webpack/loaders/webext-i18n-loader/dist/src/transformer.d.ts
  webpack/loaders/webext-i18n-loader/dist/transformer.d.ts
  webpack/loaders/webext-i18n-loader/dist/transformer.js
  webpack/loaders/webext-i18n-loader/dist/transformer.js.map
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: Add self-signed xpi releasing job
  .github/workflows/release.yml
Due: none

ci: Update release workflow to support version bumping and improve artifact handling
  .github/workflows/release.yml
Due: none

chore: Clean up comments and formatting in release workflow
  .github/workflows/release.yml
Due: none

chore: Update changelog
  CHANGELOG.md
Due: prettier --write, yarn check-changelog

ci: Update version bump commit message format
  .github/workflows/release.yml
Due: none

fix: Correct import path for faker in useDownloadHistory tests
  src/pages/hooks/useDownloadHistory.test.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: Fix version placeholder
  .github/workflows/release.yml
Due: none

ci: Refine workflow to re-run without bumping version
  .github/workflows/release.yml
Due: none

ci: Refine commit condition
  .github/workflows/release.yml
Due: none

ci: Set release tag explicitly
  .github/workflows/release.yml
Due: none

ci: Add standalone xpi releasing workflow and fix git user setting up
  .github/workflows/release-xpi.yml
  .github/workflows/release.yml
Due: none

ci: Add reused workflow: setup-git-as-bot
  .github/workflows/setup-git-as-bot.yml
Due: none

ci: Refine workflow: release-xpi
  .github/workflows/release-xpi.yml
Due: none

ci: Refine release workflow
  .github/workflows/release.yml
Due: none

fix: Fix browser version validation for not very valid string
  .github/actions/create-gecko-release/src/index.ts
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: Sign commit by default
  .github/workflows/build-create-gecko-release.yml
  .github/workflows/setup-git-as-bot.yml
Due: none

ci: Fix ci
  .github/workflows/setup-git-as-bot.yml
Due: none

ci: Change setup-git-as-bot to be composite action
  .github/actions/setup-git-as-bot/action.yml
  .github/workflows/build-create-gecko-release.yml
  .github/workflows/release.yml
  .github/workflows/setup-git-as-bot.yml
Due: none

ci: Fix user_name value
  .github/actions/setup-git-as-bot/action.yml
Due: none

ci: Fix if else statement syntax
  .github/workflows/build-create-gecko-release.yml
Due: none

ci: Fix ci
  .github/actions/setup-git-as-bot/action.yml
Due: none

ci: Refine release workflow
  .github/actions/setup-git-as-bot/action.yml
  .github/workflows/release.yml
Due: none

ci: Refine action building workflow
  .github/workflows/build-create-gecko-release.yml
Due: none

Add initial devcontainer configuration
  .devcontainer/devcontainer.json
Due: prettier --write

fix: Improve showOpenFilePicker() compatibility detection
  src/pages/components/History.tsx
Due: prettier --write, eslint --fix, yarn check-envfile sample.env, yarn ci:all --findRelatedTests --passWithNoTests --bail 5

ci: Try to improve build time in build testing
  .github/workflows/test.yml
Due: none

ci: Update actions to latest versions and fix env file preparation
  .github/workflows/test.yml
Due: none

ci: Use built-in yarn cache
  .github/workflows/test.yml
Due: none

ci: Fix workflow
  .github/workflows/test.yml
Due: none

ci: add new workflow to update browserlist-db periodically
  .github/workflows/update-browserlist-db.yml
Due: none

ci: update build workflow for create-gecko-release action
  .github/workflows/build-create-gecko-release.yml
Due: none

Path conditions:
  prettier --write: (((any of: *.{css,scss,sass}) or (any of: *.{js,cjs,mjs,jsx,ts,tsx})) or (any of: *.md)) or (any of: *.json)
  eslint --fix: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  yarn check-envfile sample.env: (any of: *.{js,cjs,mjs,jsx,ts,tsx}) or (any of: *sample.env)
  yarn ci:all --findRelatedTests --passWithNoTests --bail 5: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  yarn check-changelog: any of: CHANGELOG.md
  yarn check-locales: any of: *.{po,pot}
  yarn check-flags: any of: flag.d.ts
